In [211]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [212]:
df_train = pd.read_csv(r"C:\Users\KARTHIK\Desktop\Files\Python - Pieran Data\Extra DataSets\HR Analytics\train_LZdllcl.csv")
df_train["Type"] = "train"
print(df_train.shape)
df_test = pd.read_csv(r"C:\Users\KARTHIK\Desktop\Files\Python - Pieran Data\Extra DataSets\HR Analytics\test_2umaH9m.csv")
df_test["Type"] = "test"
print(df_test.shape)

(54808, 15)
(23490, 14)

In [213]:
df_train.tail()
df_train["is_promoted"].value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [214]:
X = ['education', 'previous_year_rating']
for i in X:
    df_train[i].fillna(df_train[i].mode()[0], inplace = True)
    df_test[i].fillna(df_test[i].mode()[0], inplace = True)

In [215]:
df_test.isna().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
Type                    0
dtype: int64

In [216]:
df_train.drop(['employee_id'],axis=1,inplace=True)
df_test.drop(['employee_id'],axis=1,inplace=True)

In [217]:
df_train.describe()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,1.253011,34.803915,3.304481,5.865512,0.351974,0.023172,63.386750,0.085170
std,0.609264,7.660169,1.214770,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

In [218]:
df_train['avg_training_score'].value_counts()

50    2716
49    2681
48    2437
51    2347
60    2155
59    2064
58    1898
61    1879
52    1856
47    1746
62    1450
82    1447
57    1437
81    1357
53    1324
80    1206
83    1198
84    1168
79    1160
46    1136
85    1072
56    1070
70    1055
63    1021
69    1018
54     997
68     935
78     933
86     912
71     898
      ...
67     728
72     725
64     708
77     697
45     681
87     655
65     599
66     580
73     523
76     516
88     444
74     433
75     403
44     335
89     301
90     185
43     176
91     117
92      99
93      84
94      65
42      62
97      49
96      48
95      45
98      37
99      35
41      26
40       5
39       2
Name: avg_training_score, Length: 61, dtype: int64

In [219]:
cm = pd.crosstab(df_train['recruitment_channel'],df_train['is_promoted'])

In [220]:
cm

is_promoted              0     1
recruitment_channel
other                27890  2556
referred              1004   138
sourcing             21246  1974

In [221]:
from scipy import stats

In [222]:
stats.chi2_contingency(cm)

(19.23633518768639,
 6.650937825577018e-05,
 2,
 array([[27852.91271347,  2593.08728653],
        [ 1044.73580499,    97.26419501],
        [21242.35148154,  1977.64851846]]))

No. of Trainings... to be explored
Dependence - KPI , Awards , Previous_Year_Rating , Department , Education , Recruitment_Channel
Dropped - region , Gender , 
To be binned - Age , Length of Service , Avg_Training Score

In [223]:
df_train.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,Type
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0,train
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0,train
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0,train
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0,train
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0,train

In [224]:
df_test.drop(['region','gender','no_of_trainings'],axis=1,inplace = True)
df_train.drop(['region','gender','no_of_trainings'],axis=1,inplace = True)

In [225]:
df_train.head()

,department,education,recruitment_channel,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,Type
0,Sales & Marketing,Master's & above,sourcing,35,5.0,8,1,0,49,0,train
1,Operations,Bachelor's,other,30,5.0,4,0,0,60,0,train
2,Sales & Marketing,Bachelor's,sourcing,34,3.0,7,0,0,50,0,train
3,Sales & Marketing,Bachelor's,other,39,1.0,10,0,0,50,0,train
4,Technology,Bachelor's,other,45,3.0,2,0,0,73,0,train

In [226]:
bins = [20,30,40,50,60]
groups = [0,1,2,3]
df_train['Age_Group']=pd.cut(df_train['age'],bins=bins,labels=groups)
df_test['Age_Group']=pd.cut(df_train['age'],bins=bins,labels=groups)

In [227]:
df_train.drop(['age'],axis=1,inplace = True)
df_test.drop(['age'],axis=1,inplace = True)

In [228]:
bins_2 = [0,10,20,30,40]
groups_2 = [0,1,2,3]
df_train['Service_Length_Group']=pd.cut(df_train['length_of_service'],bins=bins_2,labels=groups_2)
df_test['Service_Length_Group']=pd.cut(df_test['length_of_service'],bins=bins_2,labels=groups_2)

In [229]:
df_train.drop(['length_of_service'],axis=1,inplace = True)
df_test.drop(['length_of_service'],axis=1,inplace = True)

In [230]:
df_train.head()

,department,education,recruitment_channel,previous_year_rating,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,Type,Age_Group,Service_Length_Group
0,Sales & Marketing,Master's & above,sourcing,5.0,1,0,49,0,train,1,0
1,Operations,Bachelor's,other,5.0,0,0,60,0,train,0,0
2,Sales & Marketing,Bachelor's,sourcing,3.0,0,0,50,0,train,1,0
3,Sales & Marketing,Bachelor's,other,1.0,0,0,50,0,train,1,0
4,Technology,Bachelor's,other,3.0,0,0,73,0,train,2,0

In [231]:
bins_3 = [39,60,80,100]
groups_3 = [0,1,2]
df_train['Avg_TS_Group']=pd.cut(df_train['avg_training_score'],bins=bins_3,labels=groups_3)
df_test['Avg_TS_Group']=pd.cut(df_test['avg_training_score'],bins=bins_3,labels=groups_3)

In [232]:
df_train.head()

,department,education,recruitment_channel,previous_year_rating,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,Type,Age_Group,Service_Length_Group,Avg_TS_Group
0,Sales & Marketing,Master's & above,sourcing,5.0,1,0,49,0,train,1,0,0
1,Operations,Bachelor's,other,5.0,0,0,60,0,train,0,0,0
2,Sales & Marketing,Bachelor's,sourcing,3.0,0,0,50,0,train,1,0,0
3,Sales & Marketing,Bachelor's,other,1.0,0,0,50,0,train,1,0,0
4,Technology,Bachelor's,other,3.0,0,0,73,0,train,2,0,1

In [233]:
df_train.drop(['avg_training_score'],axis=1,inplace = True)
df_test.drop(['avg_training_score'],axis=1,inplace = True)
df_train.drop(['Type'],axis=1,inplace = True)
df_test.drop(['Type'],axis=1,inplace = True)

In [234]:
df_train.shape

(54808, 10)

In [235]:
X = [df_train, df_test]
df = pd.concat(X,axis=0)

C:\Users\KARTHIK\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [236]:
df.shape

(78298, 10)

In [237]:
df_categorical = pd.get_dummies(df[['education', 'department', 'recruitment_channel']])

In [238]:
df.drop(['education', 'department', 'recruitment_channel'], axis = 1, inplace = True)

In [239]:
df.shape

(78298, 7)

In [240]:
Y = [df, df_categorical]
df = pd.concat(Y, axis = 1)

In [241]:
df.shape

(78298, 22)

In [242]:
df_train = df[:54808]
df_test = df[54808:]

In [244]:
df_test.shape

(23490, 22)

In [246]:
df_test.drop(['is_promoted'],axis=1,inplace=True)

C:\Users\KARTHIK\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [273]:
df_test.drop(['department_Technology','recruitment_channel_sourcing','education_Below Secondary'],inplace=True,axis=1)
df_train.drop(['department_Technology','recruitment_channel_sourcing','education_Below Secondary'],inplace=True,axis=1)

C:\Users\KARTHIK\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [270]:
df_test

,Age_Group,Avg_TS_Group,KPIs_met >80%,Service_Length_Group,awards_won?,previous_year_rating,education_Bachelor's,education_Master's & above,department_Analytics,department_Finance,department_HR,department_Legal,department_Operations,department_Procurement,department_R&D,department_Sales & Marketing,recruitment_channel_other,recruitment_channel_referred
0,1,1,1,0,0,3.0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,3.0,1,0,0,0,1,0,0,0,0,0,1,0
2,1,0,0,0,0,1.0,1,0,0,0,0,0,0,0,0,1,1,0
3,1,1,0,0,0,2.0,1,0,0,0,0,0,0,1,0,0,1,0
4,2,1,0,0,0,4.0,1,0,0,1,0,0,0,0,0,0,0,0
5,1,1,0,0,0,3.0,1,0,0,0,0,0,0,1,0,0,0,0
6,1,0,1,0,0,5.0,1,0,0,1,0,0,0,0,0,0,1,0
7,1,2,0,0,0,3.0,1,0,1,0,0,0,0,0,0,0,0,0
8,0,1,0,1,0,4.0,0,1,0,0,0,0,0,0,0,0,1,0
9,1,1,1,0,0,5.0,1,0,0,0,0,0,0,0,0,0,0,0
10,0,0,1,1,0,5.0,1,0,0,0,0,0,0,0,0,1,0,0
11,1,0,0,0,0,3.0,0,1,0,0,0,0,0,0,0,1,0,0
12,2,0,0,0,0,3.0,0,1,0,0,0,0,0,0,0,1,1,0
13,1,2,0,0,0,3.0,1,0,1,0,0,0,0,0,0,0,1,0
14,1,0,1,0,0,5.0,1,0,0,0,0,0,1,0,0,0,0,0
15,1,0,1,0,0,4.0,1,0,0,0,0,0,0,0,0,1,0,0
16,1,0,0,0,0,5.0,1,0,0,0,0,0,1,0,0,0,0,0
17,1,0,1,0,0,5.0,1,0,0,0,0,0,0,0,0,1,0,0
18,1,1,1,0,0,3.0,1,0,0,0,0,0,0,1,0,0,1,0
19,1,1,0,0,0,2.0,1,0,0,0,0,0,0,1,0,0,1,0
20,1,0,0,0,0,5.0,0,1,0,0,0,0,0,0,0,1,0,0
21,2,1,0,0,0,3.0,1,0,0,0,0,0,0,0,0,0,0,0
22,0,2,0,0,0,1.0,0,1,0,0,0,0,0,0,0,0,0,0
23,0,1,0,0,0,3.0,0,1,0,0,0,0,0,1,0,0,1,0
24,1,0,1,0,0,4.0,1,0,0,1,0,0,0,0,0,0,1,0
25,0,1,1,0,1,3.0,1,0,0,0,0,0,1,0,0,0,1,0
26,1,0,1,0,0,4.0,0,1,0,0,0,0,0,0,0,1,0,0
27,1,2,1,0,0,3.0,1,0,1,0,0,0,0,0,0,0,0,0
28,0,1,0,0,0,1.0,1,0,0,0,0,0,1,0,0,0,1,0
29,0,0,0,0,0,2.0,1,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23460,0,1,1,0,0,4.0,1,0,0,0,0,0,1,0,0,0,1,0
23461,1,0,0,0,0,4.0,1,0,0,0,0,0,0,0,0,1,1,0
23462,0,2,1,0,0,5.0,1,0,1,0,0,0,0,0,0,0,1,0
23463,0,2,1,0,0,3.0,1,0,1,0,0,0,0,0,0,0,1,0
23464,0,2,1,0,0,1.0,1,0,1,0,0,0,0,0,0,0,0,0
23465,1,2,0,0,0,4.0,1,0,0,0,0,0,0,0,0,0,0,0
23466,1,1,0,0,0,4.0,0,1,0,0,0,0,0,0,0,0,1,0
23467,0,1,1,0,0,4.0,1,0,0,0,0,0,0,0,0,0,0,1
23468,0,0,1,0,0,2.0,1,0,0,0,0,0,0,0,0,1,1,0
23469,0,1,0,0,0,1.0,1,0,0,0,0,0,0,1,0,0,1,0
23470,1,0,0,0,0,5.0,1,0,0,0,0,0,0,0,0,1,0,0
23471,0,1,1,0,0,4.0,0,1,0,0,0,0,0,1,0,0,0,0
23472,0,2,0,0,0,3.0,1,0,0,0,0,0,0,0,0,0,1,0
23473,0,0,0,0,0,3.0,0,1,0,0,0,0,1,0,0,0,0,0
23474,1,1,0,0,0,3.0,0,1,0,0,0,0,1,0,0,0,1,0
23475,1,1,0,0,0,3.0,1,0,0,0,0,1,0,0,0,0,0,0
23476,1,0,0,0,0,4.0,0,1,0,0,0,0,0,0,0,1,1,0
23477,0,1,0,0,0,4.0,1,0,0,0,0,0,0,1,0,0,0,0
23478,1,1,1,0,0,4.0,1,0,0,0,0,0,0,1,0,0,0,0
23479,0,0,0,0,0,3.0,1,0,0,0,0,0,0,0,0,1,1,0
23480,0,0,1,0,0,5.0,1,0,0,0,0,0,1,0,0,0,0,0
23481,0,0,1,0,0,5.0,0,1,0,0,0,0,1,0,0,0,1,0
23482,2,0,0,0,0,4.0,1,0,0,0,0,0,0,0,0,1,0,0
23483,1,0,0,0,0,3.0,1,0,0,0,0,0,0,0,0,1,1,0
23484,1,0,0,0,0,4.0,1,0,0,0,0,0,0,0,0,1,1,0
23485,2,1,0,0,0,3.0,0,0,0,0,0,1,0,0,0,0,0,0
23486,3,1,0,0,0,3.0,1,0,0,0,0,0,0,0,0,0,0,0
23487,1,0,0,0,0,4.0,1,0,0,0,1,0,0,0,0,0,0,0
23488,0,1,0,0,0,3.0,1,0,0,0,0,0,0,1,0,0,0,0
23489,2,2,1,0,0,5.0,0,1,0,0,0,0,0,0,0,0,1,0

In [255]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [290]:
model1 = LogisticRegression()
model2 = RandomForestClassifier(n_estimators=100, random_state = 9)

In [291]:
X = df_train.drop(['is_promoted'], axis = 1)
Y = df_train['is_promoted']

In [292]:
X.isna().sum()
X.fillna(0, inplace = True)

In [293]:
from sklearn.metrics import accuracy_score
Z = [model1, model2]
for i in Z:
    i.fit(X,Y)
    Y_pred = i.predict(X)
    print(accuracy_score(Y, Y_pred))

0.9227302583564443
0.937381404174573

In [294]:
df_test.isna().sum()
df_test.fillna(0, inplace = True)

C:\Users\KARTHIK\Anaconda3\lib\site-packages\pandas\core\frame.py:3790: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [295]:
Y_pred_1 = model1.predict(df_test)
Y_pred_2 = model2.predict(df_test)

In [296]:
param_grid = { 
    'n_estimators': [10, 100, 10]
}

In [297]:
from sklearn.grid_search import GridSearchCV
rf = RandomForestClassifier()
CV = GridSearchCV(estimator=rf, param_grid=param_grid)
CV.fit(X,Y)

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_estimators': [10, 100, 10]}, pre_dispatch='2*n_jobs',
       refit=True, scoring=None, verbose=0)

In [298]:
CV.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [300]:

pd.DataFrame(Y_pred_1).to_csv('LogReg.csv')
pd.DataFrame(Y_pred_2).to_csv('RanFor.csv')